/*  your css code here. If applicable */
.green{
	background-color:green;
	height:100px;
	width:25%;
	border-radius:50%;
	border:none;
	margin-left:45px;
}
.yellow{
	background-color:yellow;
	height:100px;
	width:25%;
	border-radius:50%;
	border:none;
	margin:10px;
}
.red{
	background-color:red;
	height:100px;
	width:25%;
	border-radius:50%;
	border:none;
	margin-right:40px;
}
.container{
	background-color:lightgrey;
	border:4px solid black;
	display:flex;
	align-items:center;
	border-radius: 50px;
	width:75%;
	height:200px
}